Repository Stickerifier/Stickerify, pull requests merged in 2023-04, with the labels that each got.

#91 Add custom converter to clear stacktraces from telegrambots
  src/main/java/com/github/stickerifier/stickerify/logger/StackTraceConverter.java
  src/main/resources/logback.xml
  src/test/java/com/github/stickerifier/stickerify/logger/StackTraceConverterTest.java
Labels: enhancement, dependencies, logs

#94 highlight new users in logged messages
  src/main/java/com/github/stickerifier/stickerify/logger/NewUserHighlighter.java
  src/main/java/com/github/stickerifier/stickerify/logger/StackTraceCleaner.java
  src/main/java/com/github/stickerifier/stickerify/telegram/model/TelegramRequest.java
  src/main/resources/logback.xml
  src/test/java/com/github/stickerifier/stickerify/logger/LoggingEvent.java
  src/test/java/com/github/stickerifier/stickerify/logger/NewUserHighlighterTest.java
  src/test/java/com/github/stickerifier/stickerify/logger/StackTraceCleanerTest.java
  src/test/java/com/github/stickerifier/stickerify/logger/StackTraceConverterTest.java
Labels: unit test, logs

#95 highlight new user in logs - part 2
  src/main/java/com/github/stickerifier/stickerify/logger/NewUserHighlighter.java
  src/test/java/com/github/stickerifier/stickerify/logger/NewUserHighlighterTest.java
Labels: logs

#98 tighten new user highlight's unit tests
  src/main/java/com/github/stickerifier/stickerify/logger/NewUserHighlighter.java
  src/main/java/com/github/stickerifier/stickerify/telegram/model/TelegramRequest.java
  src/test/java/com/github/stickerifier/stickerify/logger/NewUserHighlighterTest.java
Labels: unit test, logs

#99 enable image/gif conversion
  src/main/java/com/github/stickerifier/stickerify/bot/Stickerify.java
  src/main/java/com/github/stickerifier/stickerify/media/MediaConstraints.java
  src/main/java/com/github/stickerifier/stickerify/media/MediaHelper.java
  src/test/java/com/github/stickerifier/stickerify/media/MediaHelperTest.java
  src/test/resources/valid.gif
Labels: enhancement, unit test

#101 Improved Dockerfile to better utilize layer cache
  Dockerfile
Labels: enhancement, docker
