Repository Stickerifier/Stickerify, pull requests merged in 2024-10, with the labels that each got.

#286 Pin FFmpeg version to 7.0
  .github/workflows/unit-test.yml
  Dockerfile
Labels: hacktoberfest, docker, cicd

#284 Added automatic version updates with bump
  .dockerignore
  .github/workflows/bump.yaml
  .github/workflows/unit-test.yml
  Bumpfile
  Dockerfile
  hashupdate
Labels: hacktoberfest, dependencies, docker, cicd

#288 Fixed convertedWebp test, and changed loadResource to assert file presence
  src/test/java/com/github/stickerifier/stickerify/ResourceHelper.java
  src/test/java/com/github/stickerifier/stickerify/bot/MockResponses.java
  src/test/java/com/github/stickerifier/stickerify/bot/StickerifyTest.java
Labels: unit test, hacktoberfest-accepted

#296 Configure bump to detect only minor libwebp updates
  .github/workflows/bump.yaml
  Dockerfile
Labels: bug, dependencies, cicd
